*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body{
  min-height: 10vh;
  width: 100vw;
  background: linear-gradient(180deg, #363467 0%, rgb(30, 29, 79, 0.8) 100%);
} 